@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Exo", serif;
}
html,body{
    overflow-x: hidden;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 12px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 5;
}
.navbar .box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.navbar .ul{
    display: flex;
    align-items: center;
}
.navbar ul{
    padding-left: 90px;
}
.navbar ul a{
    color: #36444F;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}
.navbar .log{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    padding: 16.5px 46.5px;
    background-color: #1B75BB;
    border-radius: 50px;
    margin-left: 20px;
}
.navbar .log:hover{
    background-color: #116fb7;
    color: #ffffff;
}
.navbar .box ul li a:hover{
    color: #1B75BB;
    font-weight: 700;
}
.navbar .box ul li .active{
    color: #1B75BB;
    font-weight: 700;
    border-bottom: 2px solid #1B75BB;
}

.main .effect{
    position: relative;
}
.main .effect img{
    position: absolute;
}
.main .effect .p1{
    left: 0px;
    top: -165px;
    z-index: -1;
}
.main .effect .p2{
    right: -105px;
    top: -72px;
    z-index: -1;
}
.main .effect::before{
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 243.92px;
    height: 247.93px;
    left: 40.61px;
    top: 200.29px;
    background: #51F1A4;
    filter: blur(277px);
}
.main .effect::after{
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 139.79px;
    height: 142.09px;
    left: 1247.81px;
    top: 265.49px;
    background: #0AC8F2;
    filter: blur(137px);
}
.main .eff::after{
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 243.92px;
    height: 247.93px;
    left: 1140.97px;
    top: 420.5px;
    background: #51F1A4;
    filter: blur(277px);
}
.main .effect2{
    position: relative;
}
.main .effect2 img{
    position: absolute;
}
.main .effect2 .p1{
    top: -172px;
    right: -15px;
    z-index: -1;
}
.main .effect2 .p2{
    top: 160px;
    right: -25px;
    z-index: -1;
}
.main .effect2 .p3{
    top: 715px;
    left: 0px;
    z-index: -1;
}
.main .effect2 .p4{
    top: 855px;
    left: 20px;
    z-index: -1;
}
.main .effect2::before{
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 228px;
    height: 228px;
    top: 320px;
    right: 20px;
    background: #00B3FF;
    filter: blur(277px);
    z-index: 1;
}
.main .effect2::after{
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 258.25px;
    height: 258.25px;
    top: 820px;
    left: -100px;
    background: #51F1A4;
    filter: blur(277px);
    transform: rotate(-30deg);
    z-index: 2;
}
.main .effect3{
    position: relative;
}
.main .effect3::before{
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 228px;
    height: 228px;
    right: -15px;
    top: -450px;
    background: #51F1A4;
    filter: blur(277px);
}

.main .part1{
    border-bottom: 1px solid #F2F3F3;
}
.main .part1 .container .inner{
    padding-top: 150px;
}
.main .part1 .container .inner .sec1{
    margin-bottom: 100px;
}
.main .part1 .container .inner .sec1 .head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .part1 .container .inner .sec1 .head h2{
    font-size: 56px;
    color: #0F1820;
    font-weight: 600;
    padding-right: 20px;
}
.main .part1 .container .inner .sec1 .para{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.main .part1 .container .inner .sec1 .para .p{
    text-decoration: none;
    font-size: 18px;
    color: #36444F;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 3px;
    cursor: pointer;
}
.main .part1 .container .inner .sec1 .para a{
    text-decoration: none;
    color: #1B75BB;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 7px;
}

.main .part2{
    margin: 100px 0;
}
.main .part2 .container .inner .sec2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .part2 .container .inner .sec2 .box{
    text-align: center;
    padding: 65px 0px;
    margin: 0 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.main .part2 .container .inner .sec2 .box:hover{
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 0px 15px 10px #c1c7fff0;
    z-index: 1;
}
.main .part2 .container .inner .sec2 .box img{
    padding-bottom: 25px;
}
.main .part2 .container .inner .sec2 .box .text h4{
    font-size: 20px;
    font-weight: 500;
    color: #0F1820;
    padding-bottom: 10px;
}
.main .part2 .container .inner .sec2 .box .text p{
    font-size: 18px;
    font-weight: 400;
    color: #36444F;
}

.main .part3 .container .inner .sec3{
    margin-top: 50px;
    margin-bottom: 120px;
}
.main .part3 .container .inner .sec3 .head{
    text-align: center;
    padding: 0 75px;
}
.main .part3 .container .inner .sec3 .head h3{
    font-size: 56px;
    color: #0F1820;
    font-weight: 600;
    padding-bottom: 40px;
}
.main .part3 .container .inner .sec3 .head p{
    font-size: 18px;
    color: #36444F;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 50px;
}.main .part3 .container .inner .sec3 .cards_maniya {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro {
    margin: 20px 8px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro:hover{
    .para h4{
        color: #0866AF;
    }
    .para a{
        font-weight: 600;
    }
}
.main .part3 .container .inner .sec3 .cards_maniya .sp{
    margin: 0 15px;
    position: relative;
}
.main .part3 .container .inner .sec3 .cards_maniya .sp .ssp{
    position: absolute;
    height: 98px;
    width: 96px;
    left: 50%;
    top: 75px;
    transform: translate(-50%);
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro img {
    height: 286px;
    width: 360px;
    border-radius: 8px;
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro .para {
    margin-top: 30px;
    padding-right: 25px;
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro .para h4 {
    font-size: 24px;
    font-weight: 600;
    color: #0F1820;
    margin: 15px 0 10px;
    transition: 0.5s;
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro .para p {
    font-size: 18px;
    font-weight: 400;
    color: #36444F;
    line-height: 29px;
}
.main .part3 .container .inner .sec3 .cards_maniya .card_pro .para a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.main .part4 .container .inner .sec4{
    margin: 150px 0;
    position: relative;
}
.main .part4 .container .inner .sec4 .head{
    text-align: center;
    padding: 0 110px;
}
.main .part4 .container .inner .sec4 .head h2{
    font-size: 56px;
    color: #0F1820;
    font-weight: 600;
    padding-bottom: 30px;
}
.main .part4 .container .inner .sec4 .head p{
    font-size: 18px;
    color: #36444F;
    font-weight: 400;
    padding-bottom: 40px;
}
.main .part4 .container .inner .sec4 .slider-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .part4 .container .inner .sec4 .slider-box .prt{
    padding: 20px 20px;
    border-radius: 15px;
    transition: 1s;
}
.main .part4 .container .inner .sec4 .slider-box .prt:hover{
    background-image: linear-gradient(to bottom right, #00cefcab, #1b76bbcc, #1b76bb, #1b76bbcc, #00cefcab);
    cursor: pointer;
}
.main .part4 .container .inner .sec4 .slider-box .prt:hover .para{
    color: #ffffff;
}
.main .part4 .container .inner .sec4 .slider-box .prt:hover .ima .ptr h6{
    color: #ffffff;
}
.main .part4 .container .inner .sec4 .slider-box .prt:hover .ima .ptr p{
    color: #ffffff;
}
.main .part4 .container .inner .sec4 .slider-box .prt .para{
    font-size: 18px;
    color: #36444F;
    font-weight: 400;
}
.main .part4 .container .inner .sec4 .slider-box .prt .ima{
    display: flex;
    padding-top: 10px;
}
.main .part4 .container .inner .sec4 .slider-box .prt .ima img{
    width: 54;
    height: 54;
    padding-right: 10px;
}
.main .part4 .container .inner .sec4 .slider-box .prt .ima .ptr h6{
    font-size: 18px;
    color: #021526;
    font-weight: 500;
}
.main .part4 .container .inner .sec4 .slider-box .prt .ima .ptr p{
    font-size: 13px;
    color: #384E68;
    font-weight: 400;
}
.main .part4 .container .inner .sec4 .slider-box .pp{
    margin-right: 20px;
}

.main .part4 .container .inner .sec4 .slider-box .slick-dots li button:before{
    font-size: 10px;
    color: #0D6AB2;
}
.main .part4 .container .inner .sec4 .slider-box .slick-dots li.slick-active button:before{
    color: #0D6AB2;
}

.footer{
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
    padding-top: 115px;
    padding-bottom: 90px;
    margin-bottom: 40px;
}
.footer .container .ptr .sec .first {
    display: flex;
    align-items: center;
}
.footer .container .ptr .sec .first .para {
    margin-left: 50px;
}
.footer .container .ptr .sec .first .para .para_out {
    display: flex;
    justify-content: space-between;
}
.footer .container .ptr .sec .first .para h5 {
    font-size: 19px;
    color: #0F1820;
    font-weight: 600;
    padding-bottom: 30px;
}
.footer .container .ptr .sec .first .ima {
    margin-top: -25px;
    width: 355px;
}
.footer .container .ptr .sec .first .ima img {
    padding-bottom: 30px;
}
.footer .container .ptr .sec .first p {
    font-size: 14px;
    color: #36444F;
    font-weight: 400;
    line-height: 29px;
}
.footer .container .ptr .sec .first .para .para_out .para_in {
    padding-right: 45px;
}
.footer .container .ptr .sec .first .para .para_out .para_in a {
    text-decoration: none;
    font-size: 14px;
    color: #36444F;
    font-weight: 400;
}
.footer .container .ptr .sec .first .para .para_out .para_in a:hover{
    color: #1B75BB;
    font-weight: 700;
}
.footer .container .ptr .sec .first .anc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.footer .container .ptr .sec .first .anc .omg1 {
    display: inline-block;
    white-space: nowrap;
    background-color: #1B75BB;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}
.footer .container .ptr .sec .first .anc .omg1:hover {
    background-color: #116fb7;
    box-shadow: 0 0 20px #00cefcab;
}
.footer .container .ptr .sec .first .anc .omg1 img {
    height: 22px;
    width: 25px;
    padding-right: 10px;
}
.footer .container .ptr .sec .first .anc .omg2 {
    display: inline-block;
    white-space: nowrap;
    background-color: #0F1820;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.footer .container .ptr .sec .first .anc .omg2:hover {
    background-color: #152431;
    box-shadow: 0 0 40px #00cefcab;
}
.footer .container .ptr .sec .first .anc .omg2 img {
    height: 22px;
    width: 25px;
    padding-right: 10px;
}